/* Reset all default styles */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    box-sizing: border-box;
    line-height: 1.5;
}

/* Set the box-sizing property for all elements */
html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

/* Remove list styles (bullet points) */
ul,
ol {
    list-style: none;
}

/* Remove default hyperlink styles */
a {
    text-decoration: none;
    color: inherit;
}